@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}

#root {
  height: 100vh;
  width: 100%;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

::selection {
  background-color: #000000;
  color: #ffffff;
}
